<div>
  <div class="p-10 mx-auto mt-10 bg-orange-400 rounded-lg shadow-md ">
    <h2 class="mb-6 text-2xl font-bold text-white">Agregar Libro</h2>
    <form [formGroup]="form" class="space-y-4">
      <!-- Título -->
      <div>
        <label for="title" class="block mb-2 font-medium text-white">Título</label>
        <input type="text" id="title" formControlName="libr_titulo" placeholder="Título del libro"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>



      <!-- Descripción -->
      <div>
        <label for="description" class="block mb-2 font-medium text-white">Descripción</label>
        <textarea id="description" formControlName="libr_descripcion" placeholder="Descripción del libro" rows="4"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
      </div>

      <!-- URL de la imagen -->
      <div>
        <label for="urlImage" class="block mb-2 font-medium text-white">URL de la Imagen</label>
        <input type="text" id="urlImage" formControlName="libr_urlImagen" placeholder="URL de la imagen"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <!-- URL de la archivo -->
      <div>
        <label for="urlImage" class="block mb-2 font-medium text-white">URL del archivo</label>
        <input type="text" id="urlImage" formControlName="libr_urlFile" placeholder="URL del archivo"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <!-- Autor -->
      <div>
        <label for="author" class="block mb-2 font-medium text-white">Autor</label>
        <select id="author" formControlName="libr_autor"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="" disabled selected>Selecciona un autor</option>
          <option *ngFor="let author of authors" [value]="author">{{ author }}</option>
        </select>
      </div>

      <!-- Categoría -->
      <div>
        <label for="category" class="block mb-2 font-medium text-white">Categoría</label>
        <select id="category" formControlName="libr_categoria"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="" disabled selected>Selecciona una categoría</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>


      <!-- Botón de envío -->
      <div class="flex justify-end gap-3">
        <app-button (buttonClick)="goToBack()" [title]="'Atras'"></app-button>
        <app-button [disabled]="form.invalid" *ngIf="mod == 'edit'" (buttonClick)="onSubmit()"
          [title]="'Guardar Libro'"></app-button>
      </div>
    </form>
  </div>

</div>